html {
  --text-html: 10px;
  font-size: var(--text-html);

  @variant md {
    --text-html: 11px;
  }

  @variant xg {
    --text-html: 11px;
    --text-body: 1.8rem;
    --text-h1: 5rem;
    --text-h2: 2.5rem;
    --text-h3: 2rem;
    --text-small: 1.6rem;
  }

  @variant lg  { --text-html: 8px; }
  @variant xl  { --text-html: 8.5px; }
  @variant 2xl { --text-html: 9px; }
  @variant 3xl { --text-html: 9.5px; }
  @variant 4xl { --text-html: 10px; }
  @variant 5xl { --text-html: 15px; }
}

p:not([class*="text-"]) {
  @apply text-pretty leading-[1.4];
}

.text-big,
.text-h1,
.text-h2,
.text-h3 {
  @apply text-balance;
}

.text-big {
  @apply leading-none;
}
